body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffff;
}

.left-leaves {
  height: auto;
  width: auto;
  max-height: 50%;
  max-width: 50%;
}

.person {
    height: 20%;
    width: 20%;
    margin-top: 4%;
}

.right-leaves {
    height: auto;
    width: auto;
    max-height: 45%;
    max-width: 24%;
    // margin-left: 3%;
}
.container {
  display: flex;
  background-color: #75bc97;
}
